<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.think.sparrowadmin.remexplus.mapper.RpTaskJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.think.sparrowadmin.remexplus.entity.RpTaskJob">
        <id column="id" property="id" />
        <result column="task_record_id" property="taskRecordId" />
        <result column="job_id" property="jobId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_record_id, job_id
    </sql>

</mapper>
