<#include "/common/layout.html">
    <@header>
</@header>
<@body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Task Result Status
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
        <#list listTasks as taskRecord>
            <div class="col-lg-2 col-xs-3">
                <!-- small box -->
                <#switch taskRecord_index>
                <#case 0>
                <div class="small-box bg-aqua">
                <#break>
                <#case 1>
                <div class="small-box bg-green">
                <#break>
                <#case 2>
                <div class="small-box bg-yellow">
                <#break>
                <#case 3>
                <div class="small-box bg-red">
                <#break>
                <#case 4>
                <div class="small-box bg-navy">
                <#break>
                <#case 5>
                <div class="small-box bg-purple">
                <#break>
                <#default>
                <div class="small-box bg-teal">
                </#switch>
                <div class="inner">
                    <h4>Task: ${taskRecord["name"]} </h4>
                    <p>Running times: ${taskRecord["records"]}</p>
                </div>
            </div>
    </div>
        </#list>
    </div><!-- /.row -->


    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Last Running Analysis</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="main" style="height:460px"></div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
<script src="/plugins/echart/dist/echarts.js"></script>
<script src="/remexplus/forindex.js"></script>
</@footer>