<#include "/common/layout_dl.html">
    <@header>
</@header>
<@body>
<form class="form-horizontal layui-form layui-form-pane" method="post" action="/remexplus/task/doEdit">
    <div class="box-body">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Task Name</label>
            <input type="hidden" value="${rpTask.id}" name="id">
            <div class="col-sm-10">
                <input type="text" id="name" name="name" value="${(rpTask.name)!}" class="form-control"
                       placeholder="input task name" lay-verify="required|name">
            </div>
        </div>
        <div class="form-group">
            <label for="ownerId" class="col-sm-2 control-label">Owner Id</label>
            <div class="col-sm-10">
                <input type="text" id="ownerId" name="ownerId" class="form-control" value="${(rpTask.ownerId)!}"
                       placeholder="owner Id" lay-verify="required">
            </div>
        </div>
        <div class="form-group">
            <label for="ownerEmail" class="col-sm-2 control-label">Owner email</label>
            <div class="col-sm-10">
                <input type="text" id="ownerEmail" name="ownerEmail" class="form-control" value="${(rpTask.ownerEmail)!}"
                       placeholder="owner email" lay-verify="required">
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label for="runnerPom" class="col-sm-2 control-label">Runner Pom</label>-->
            <!--<div class="col-sm-10">-->
                <!--<input id="runnerPomFile" name="file" type="file" class="file" data-show-preview="false">-->
                <!--<input type="hidden" value="${(rpTask.runnerPom)!}" id="runnerPom" name="runnerPom">-->
            <!--</div>-->
        <!--</div>-->
        <input type="hidden" value="" id="runnerPom" name="runnerPom">
        <div class="form-group">
            <label for="submitPom" class="col-sm-2 control-label">Submit Pom</label>
            <div class="col-sm-10">
                <input id="submitPomFile" name="file" type="file" class="file" data-show-preview="false">
                <input type="hidden" value="${(rpTask.submitPom)!}" id="submitPom" name="submitPom">
            </div>
        </div>
        <div class="form-group">
            <label for="remexPom" class="col-sm-2 control-label">Remex Pom</label>
            <div class="col-sm-10">
                <input id="remexPomFile" name="file" type="file" class="file" data-show-preview="false">
                <input type="hidden" value="${(rpTask.remexPom)!}" id="remexPom" name="remexPom">
            </div>
        </div>
        <div class="form-group">
            <label for="quartz" class="col-sm-2 control-label">Quartz</label>
            <div class="col-sm-10">
                <input type="text" id="quartz" name="quartz" class="form-control" value="${(rpTask.quartz)!}"
                       placeholder="quartz" lay-verify="required">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Status</label>
            <div class="col-sm-10">
                <label>
                    <input name="status" type="radio" class="minimal" ${(rpTask.status== 0)?string('checked','')}
                    value="0" lay-ignore> Enable
                </label>
                <label>
                    <input name="status" type="radio" class="minimal" ${(rpTask.status== 1)?string('checked','')}
                    value="1" lay-ignore> Disable
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success" lay-submit lay-filter="submit"><i class="fa fa-save"></i>
                    Submit
                </button>
            </div>
        </div>
    </div><!-- /.box-body -->
</form>
</@body>
<@footer>
<script src="/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/plugins/bootstrap-fileinput/js/locales/LANG.js"></script>
<script src="/remexplus/task.js"></script>
</@footer>